.button {
  background: $blue;
  border: none;
  color: #fff;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  outline: none;
  padding: $s-size;
  text-decoration: none;
  transition: background-color .2s ease, color .2s ease;

  &:hover:enabled {
    background: darken($blue, 7%);
  }

  &:active {
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
  }
}

.button--secondary{
  background: #888;

  &:hover:enabled  {
    background: darken(#888, 7%);
  }
}

.button--tertiary {
  background: none;
  color: $grey;

  &:hover:enabled {
    background: none;
    color: darken($grey, 5%);
  }

  &:active {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }
}

.button--tertiary-light {
  background: none;
  color: $off-white;

  &:hover:enabled {
    background: none;
    color: darken($off-white, 7%);
  }
}

.button--disabled {
  background: lighten($grey, 50%);
  color: $grey;

  &:hover:enabled {
    background: lighten($grey, 43%);
  }
}

.button--destructive {
  background: $dark-red;

  &:hover:enabled {
    background: darken($dark-red, 5%);
  }
}
