.form {
  display: flex;
  flex-direction: column;

    > * {
      margin-bottom:  $m-size;
    }

    label {
      margin-bottom: .4rem;
    }

}

.form__error {
  color: $dark-red;
  margin: 0 0 $m-size 0;
}
