.text-input {
  border: 1px solid #cacccd;
  flex-grow: 1;
  font-size: $font-size-large;
  font-weight: 300;
  height: 50px;
  padding: $s-size;
  width: 100%;
}

.text-input--small {
  height: 30px;
  padding: .6rem;
}

.select {
  @extend .text-input; 
}

.textarea {
  @extend .text-input;
  height: 10rem;
}

label {
  color: lighten($grey, 10%);
  font-size: $font-size-small;
}

.label--radio {
  color: $dark-grey;
  font-size: $font-size-large;
  margin-right: $l-size;
}

.save-tags {
  color: $grey;
  margin-left: $m-size;

  &.save-tags--active {
    color: $blue;
    cursor: pointer;
  }
}
