.input-group {
  display: flex;
  flex-direction: column;
  padding-bottom: $l-size;
}

@media (min-width: $desktop-breakpoint) {
  .input-group {
    flex-direction: row;
  }
}

.input-group__item {
  margin-bottom: $s-size;
  flex-shrink: 0;
}

.input-group__item--sort {
  flex-grow: 0;
}

.input-group__item--search {
  flex-grow: 1;
}

@media (min-width: $desktop-breakpoint) {
  .input-group__item {
    margin: 0 $s-size 0 0;
  }

  .input-group__item--dates {
    margin-right: 0;
  }
}
