.list-header {
  background: $off-white;
  border: 1px solid darken($off-white, 7%);
  color: $grey;
  display: flex;
  justify-content: space-between;
  padding: $s-size $m-size;
}

.list-body {
  margin-bottom: $m-size;
  @media (min-width: $desktop-breakpoint) {
    margin-bottom: $l-size;
  }
}

.list-item--message {
  align-items: center;
  color: $grey;
  padding: $m-size;

  &:hover {
    background: none;
  }
}

.list-item {
  border: 1px solid darken($off-white, 7%);
  border-top: none;
  color: $dark-grey;
  display: grid;
  grid-gap: .3rem $s-size;
  grid-template-columns: 3rem auto auto;
  grid-template-rows: auto auto;
  padding: $s-size;
  text-decoration: none;
  transition: background .3s ease;
  &:hover {
    background: $off-white;
  }
  @media (min-width: $desktop-breakpoint) {
    grid-template-columns: 7rem auto auto;
  }
}

.list-item__title {
  font-size: $font-size-medium;
  font-weight: 600;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  line-height: 1.3;
  word-break: break-all;
}

.list-item__date {
  align-self: center;
  color: $grey;
  font-size: $font-size-small;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  line-height: 1.8;
  padding-right: 1rem;
  text-align: center;
}

.list-item__amount {
  align-self: center;
  font-size: $font-size-medium;
  font-weight: 600;
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  text-align: right;
}

.list-item__tags {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  color: $grey;
  display: flex;
  flex-wrap: wrap;
  font-size: $font-size-small;
  justify-content: flex-start;
  .list-item__tag {
    display: block;
    flex-shrink: 0;
    margin-right: .6rem;

    svg {
      color: $grey;
      margin: 0 .6rem .1rem 0;
    }
  }
}
