// Colors
$off-white: #f7f7f7;
$grey: #666;
$dark-grey: #333;
$blue: #1c8bff;
$dark-blue: #364051;
$red: #ff3a1c;
$dark-red: #a3220e;
$yellow: #ffac1c;
$green: #43cc16;
$dark-green: #297d0d;

// Font Size
$font-size-small: 1.4rem;
$font-size-medium: 1.6rem;
$font-size-large: 1.8rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;